<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <extensions>
        <add assembly="NLog.Loki" />
    </extensions>

    <targets>
        <target name="logfile" xsi:type="File" fileName="/Users/fox/src/lokipoc/file.txt" />
        <target name="logconsole" xsi:type="Console" />
        <target 
            name="loki" 
            xsi:type="loki"
            batchSize="200"
            taskDelayMilliseconds="500"
            endpoint="http://my.good.ip.address:3100"
            orderWrites="true"
            compressionLevel="noCompression"
            layout="${level}|${message}${onexception:|${exception:format=type,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}|source=${logger}">
            <!-- Loki requires at least one label associated with the log stream. 
            Make sure you specify at least one label here. -->
            <label name="app" layout="lokipoc" />
            <label name="server" layout="${hostname:lowercase=true}" />
        </target>
    </targets>

    <rules>
        <logger name="*" minlevel="Info" writeTo="logconsole" />
        <logger name="*" minlevel="Trace" writeTo="logfile" />
        <logger name="*" minlevel="Trace" writeTo="loki" />
    </rules>
</nlog>